<!DOCTYPE html>
{% load static %}
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covid 19 Data Visualizations</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'main_app/css/gallery-grid.css' %}">


</head>
<body>

<div class="container gallery-container">

    <h1>Covid 19 Projections</h1>

    <p class="page-description text-center">Updated Every 10 Minutes</p>

    <div class="tz-gallery">
        {% if data %}
            {% for key, value in data.items %}
                <h1>{{ key }} <img src="{{ value.0 }}"></h1>
                <div class="row">
                    {% for graph in value.1 %}
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="{% static 'main_app/images/' %}{{graph}}">
                                <img src="{% static 'main_app/images/' %}{{graph}}" alt="Traffic">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        {% else %}
                <p>No results are available.</p>
        {% endif %}

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>